doctype html
html 
    head 
        title HubSpot Custom Objects
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Objets Personnalisés
        .cards 
            each obj in objects
                .card 
                    h2.card__name #{obj.properties.nom}
                    p.card__email #{obj.properties.description}
                    p.card__email Catégorie : #{obj.properties.category}
        a(href="/update-cobj") Ajouter un objet
